:root {
  --color-primario: #ac39c3; 
  --pay-botton:  #1b349b;
}


body {
  background: #e5e1e1;
}

.apply_color {
  color: var(--color-primario) !important;
}
.apply_color2 {
  background: var(--color-primario) !important;
}

.choose {
  text-align: center;
}

.all_product {
  color: var(--color-primario);
  font-weight: 800;
}

/* navbar */

.navbar_menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #f2f2f2;
  margin: auto;
  position: sticky;
  top: 0;
  z-index: 10;
}

.title {
  border-bottom: 2px solid var(--color-primario);
}

.title h2 {
  color: var(--color-primario);
}

.logo {
    margin-left: 1.5rem;
    
}

.fa.fa-shopping-cart,.quantity {
  color: var(--color-primario) !important;
}

.cart-icon {
margin-right: 1.5rem;
}



/* products */

.content_product {
  margin: 10px;
 height: auto;

}

.container-product {
  width: 100%;
  margin: auto;
  /* background: green; */
  display: grid;
  grid-template-columns: 60% 40%;
  height: 100%;

  align-items: center;
  align-content: center;
  justify-content: center;

}

.grid-container {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Crea 3 columnas con ancho igual */
  grid-gap: 5px; /* Espacio entre los elementos */
  /* background-color: orange; */
  margin-top: 10px;
 
}

.grid-item {
  background-color: #e0e0e0;
  padding: 40px;
  text-align: center;
  cursor: pointer;
  margin: auto;
}


/* tarjetas */
.card_product {
  width: 120px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid black;
}

.card_product img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.card_product img:hover {
  transform: scale(1.1);
}

.card-content {
  padding: 5px;
}

.card-content h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.card-content p {
  font-size: 14px;
}

/* css totalPage */
.show_product_container {
  /* background: purple; */
  margin: 10px;
  display: grid;
  grid-template-columns: 30% 70%;
  width: 98%;
  align-items: center;
  padding: 10px;
 box-shadow: 5px 18px 23px -18px rgba(0,0,0,0.75);
-webkit-box-shadow: 5px 18px 23px -18px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 18px 23px -18px rgba(0,0,0,0.75);
border: 1px solid var(--color-primario);
border-radius: 5px;
opacity: 1;
transition: opacity 0.3s ease;
  
}

.show_product_container:hover {
  opacity: 0.7;
}

.container_show_image {
  width: 100%;
  height: 120px;
}

.amount {
  width: 50px;
  height: 50px;
  background-color: var(--color-primario);
  border-radius: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
}

.remove {
  width: 150px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;

}

.img_show {
  width: 120px;
  height: 100%;
}

.price {
  margin-top: 0.5rem;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pay {
  width: 80%;
  margin-top: 0.8rem;
}

.pay button {
  width: 100%;
  border: none;
  padding: 10px;
  background-color: var(--pay-botton);
  color: #fff;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.pay button:hover {
  transform: translateX(10px);
}

.container_bottons {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
}

.container_bottons button:first-child {
  background-color: #e0e0e0;
  border: none;
  width: 40px;
  font-size: 1rem;
  font-weight: 800;
}

.container_bottons button:nth-child(2) {
  background-color: var(--color-primario);
  color: #fff;
  border: none;
  width: 40px;
  font-size: 1rem;
  font-weight: 800;
}

.form-outline .form-control {
  min-height: auto;
  padding-top: 2.32rem !important;

}





/* media queris */

/* ... */

@media screen and (max-width: 767px) {
  /* Media query para dispositivos móviles con un ancho máximo de 767px */
  .all_product {
    color: var(--color-primario);
    font-weight: 800;
  }
  .container-product {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

  .navbar_menu {
    flex-direction: column;
    padding: 10px;
  }

  .logo {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .navbar_menu .cart-icon {
    margin-right: 0;
  }



  .grid-container {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .card_product {
    width: 100%;
  }

  .show_product_container {
    grid-template-columns: 1fr;
    padding: 5px;
  }

  .container_show_image {
    height: auto;
  }

  .amount {
    width: 40px;
    height: 40px;
    font-size: 1rem;
  }

  .remove {
    width: 100px;
    font-size: 0.8rem;
  }

  .img_show {
    width: 80px;
  }

  .container_bottons {
    width: 60%;
  }
}




@media screen and (max-width: 480px) {
  /* Media query para dispositivos móviles con un ancho máximo de 480px */

  .navbar_menu {
    padding: 10px;
  }

  .navbar_menu .logo {
    margin-bottom: 5px;
  }

  /* .navbar .cart-icon {
    display: none;
  } */

  .grid-container {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  /* .grid-item {
    padding: 20px;
  } */

  .grid-item {
    padding: 20px;
    width: 55%;
    justify-content: center;
    display: flex;
    align-items: center;
}

  .show_product_container {
    grid-template-columns: 1fr;
    padding: 16px;
  }

  .container_show_image {
    display: none;
  }

  .amount {
    width: 30px;
    height: 30px;
    font-size: 0.8rem;
  }

  .remove {
    width: 80px;
    font-size: 0.7rem;
  }

  .img_show {
    width: 60px;
  }

  .container_bottons {
    width: 80%;
  }
  .pay {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 320px) {
  /* Media query para dispositivos móviles con un ancho máximo de 320px */

  .navbar_menu .logo {
    font-size: 14px;
  }

  .navbar_menu .cart-icon {
    display: none;
  }

  .grid-item {
    padding: 10px;
  }

  .amount {
    width: 25px;
    height: 25px;
    font-size: 0.7rem;
  }

  .remove {
    width: 60px;
    font-size: 0.6rem;
  }

  .img_show {
    width: 50px;
  }

  .container_bottons {
    width: 90%;
  }
  .pay {
    font-size: 0.6rem;
  }
}
